:root {
    --dark: #374151;
    --darker: #1F2937;
    ---darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pick: #EC4899;
    --purple: #8B5Cf6;

}
.todoList{
    width : 100vh;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
    background: var(--dark);
    color: #FFF;
    border-radius: 5%;
}
.todoList header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{

    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;

}
#new-task-form {
    display: flex;

}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;

}

#new-task-input {
    flex: 1 1 0%; 
    background-color: var(--darker); 
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem; 
    color: var(--light);
    font-size: 1.25rem;
}

#new-task-input::placeholder {
    color: var(--gray);
}

#new-task-submit{ 
    color: pink;
    font-size: 1.25rem; 
    font-weight: 700; 
    transition: 0.4s; 

}
#new-task-submit:hover {
    opacity: 0.8; 
}
#new-task-submit:active {
    opacity: 0.6; 
}
main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px; 
    width: 100%;
    margin: 0 auto; 
}

body {
    display: flex;    
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(237,246,19);
    background: linear-gradient(to bottom right, rgba(237,246,19,1) 0%, rgba(121,9,111,1) 42%, rgba(0,255,248,1) 94%);
    font-family: monospace; 
    box-shadow: 20px;
}

.container {
    width: 450px; 
    background: #2d2f30;
    border-radius: 5%; 
}
.container header {
    color: #fefeff;
    display: flex; 
    align-items: center;
    padding: 25px 30px 10px; 
    justify-content: space-between; 

}
header .current-date {
    
    font-size: 1.45rem;
    font-weight: 500; 
    
}
header .arrowIcons span {
    height: 38px; 
    width: 38px;
    margin: 0 1px; 
    cursor: pointer; 
    text-align: center; 
    line-height: 38px; 
    border-radius: 50%; 
    transition: all .2s ease-in-out;
}
header .arrowIcons span:hover {
    transform: scale(1.3);
    background: #00e3b7;
}
.calendar{
    padding: 20px; 
}
.calendar ul{
    color: #00e3b7;
    display: flex; 
    list-style: none; 
    flex-wrap: wrap;
    text-align: center; 
}
.calendar .days{
    margin-bottom: 20px;
}
.calendar .weeks li{
    
    font-size: 15px;
    font-weight: 500; 
}
.calendar .days li{
    z-index: 1;
    cursor: pointer;
    margin-top: 30px; 
    transition: all .2s ease-in-out;
    
}
.calendar ul li{
    position: relative;
    right: 13px; 
    width: calc(100% / 7);
}
.days li.inactive{
    color: #aaa;
}
.calendar .days li::before{
    position: absolute; 
    content: "";
    height: 40px; 
    width: 40px; 
    top: 50%; 
    left: 50%; 
    z-index: -1;
    border-radius: 50%; 
    transform: translate(-50%, -50%);
}
.days li:hover::before{
    background: #20B2AA;
}
.days li.active::before{
    background:#888888	;
}
